<!DOCTYPE html>
<html lang="en">

<head>
  <title>My Music Notes: <%= @title %></title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <!-- Using "Sketchy" theme from bootswatch.com -->
  <!-- https://bootswatch.com/sketchy/ -->
  <link href="/stylesheets/bootstrap_mini.css" rel="stylesheet">

  <!-- Local CSS File -->
  <link href="/stylesheets/styles_mini.css" rel="stylesheet" />

  <!-- https://favicon.io/emoji-favicons/trumpet/ -->
  <link href="/images/favicon.ico" rel="icon">

  <!--   Core JS Files   -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
  <script>
    function disableThenSubmit() {
      console.log("hello scott")
      const form = document.getElementById("check_boxes")
      if (!form) return

      const buttons = document.querySelectorAll(".form-check-input")
      // const buttonArray = Array.from(buttons)

      // console.log(buttonArray)
      form.submit()
      buttons.forEach(function(button) {
        button.setAttribute("disabled", "true")
        // button.toggleAttribute("checked")
      })
    }
  </script>
</head>

<header>
  <% if session[:error] %>
    <div class="alert alert-warning border text-center" role="alert">
      <p>
        <%= session.delete(:error) %>
      </p>
    </div>
  <% end %>
  <% if session[:success] %>
    <div class="alert alert-success border text-center" role="alert">
      <p>
        <%= session.delete(:success) %>
      </p>
    </div>
  <% end %>
</header>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">My Music Notes</a>
    <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
      data-target="#navbar" data-toggle="collapse" type="button" data-bs-toggle="dropdown">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <% if session[:username] %>
        <ul class="navbar-nav mx-5">
          <li class="nav-item"><a class="nav-link" href="/">Practice Log</a></li>
          <li class="nav-item"><a class="nav-link" href="/listen">Listening Recommendations</a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.metronomeonline.com/"
              target="_blank">MetronomeOnline.com</a></li>
        </ul>
        <ul class="navbar-nav ml-auto mt-2">
          <li class="nav-item">
            <form action="/users/signout" method="post">
              <input class="plain-button" type="submit" value="Log Out">
            </form>
          </li>
        </ul>
      <% else %>
          <ul class="navbar-nav ml-auto mt-2">
            <li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/signin">Log In</a></li>
          </ul>
      <% end %>
    </div>
  </nav>

  <main class="container p-5">
    <%== yield %>
  </main>

  <footer class="small text-center text-muted">
    <hr class="footer-hr">
    Website designed by Caleb Mitchell - calebj.mitchell@gmail.com
    <br>
    <a href="https://github.com/Caleb-Mitchell"><img class="footer-icon" src="/images/square-github.svg" alt="github icon"> Github</a> - <a href="https://www.linkedin.com/in/caleb-j-mitchell/"><img class="footer-icon" src="/images/linkedin.svg" alt="linkedin icon"> LinkedIn</a>
  </footer>
</body>
</html>
