<h1>Log In</h1>

<form action='/users/login' method='post' class='form login-form'>
  <div class="form-group">
    <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text"
      value="<%= params[:username] %>">
  </div>
  <div class="form-group">
    <input class="form-control" name="password" placeholder="Password" type="password">
  </div>
  <button class="btn btn-primary" type="submit">Log In</button>
  <div class="responsive-register">
    No Account? <a href="/users/register">Register Here</a>
  </div>

  <hr class="login-info-hr">

  <section class="welcome-info">
    <h5>Welcome!</h5>
    <p class="welcome-info">
      My Music Notes is a tool to track which days you have
      practiced, in between weekly private music lessons.
    <p class="welcome-info">
      Log in or register to see your personal practice log for the week.
    </p>
    <hr class="admin-info">
    <p class="welcome-info">
      Login as Username: "admin", Password: "admin" to view all user practice records.
    </p>
    <hr class="admin-info">
  </section>
</form>
