<form action='/users/signin' method='post' class='form'>
  <div class="form-group">
      <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" value="<%= params[:username] %>">
  </div>
  <div class="form-group">
      <input class="form-control" name="password" placeholder="Password" type="password">
  </div>
  <button class="btn btn-primary" type="submit">Log In</button>
</form>
