@media only screen and (max-width: 992px) {
  div.responsive-register {
    display: block;
    margin-top: 1rem;
  }
}

@media only screen and (min-width: 993px) {
  div.responsive-register {
    display: none;
  }
}

nav .navbar-brand {
  /* size for brand */
  font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .blue {
  color: #537fbe;
}
nav .navbar-brand .red {
  color: #ea433b;
}
nav .navbar-brand .yellow {
  color: #f5b82e;
}
nav .navbar-brand .green {
  color: #2e944b;
}

main .form-control {
  /* center form controls */
  display: inline-block;

  /* override Bootstrap's 100% width for form controls */
  width: auto;
}

main {
  /* scroll horizontally as needed */
  overflow-x: auto;

  /* center contents */
  text-align: center;
}

main img {
  /* constrain images on small screens */
  max-width: 100%;
}

button.navbar-toggler {
  outline: none;
}

hr.login-info-hr {
  margin-top: 4rem;
}

hr.footer-hr {
  width: 25%;
  margin-top: 0;
}

section.welcome-info h5 {
  text-decoration-line: underline;
  margin-bottom: 1rem;
}

section.welcome-info {
  padding-top: 2rem;
  margin-bottom: -1rem;
}

img.footer-icon {
  width: 1.2em;
}

footer a {
  text-decoration: none;
}

div.card-row {
  margin: 30px;
}

div.select-user {
  margin-top: 2rem;

}

.navbar-toggler-icon
{
  border-style: none;
}

.table-date-text {
  font-size: 28px;
}

.form-check-input {
  margin-top: 30px;
}

.plain-button {
  border: none;
  background: none;
  margin-right: .5rem;
}

.figure-caption {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.listen-hr {
  border-style: dotted;
}

/* Override the greying out of checkboxes while disabled */
[type="checkbox"]:disabled::before {
  border: 2px solid #333;
}

/* Override the greying out of the reset button while disabled */
#reset-button:disabled {
  opacity: 1;
}
